.wordItem {
  display: flex;
  flex-direction: row;
}
.wordList {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.root {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.letter {
  border: 2px solid #3a3a3c;
  font-size: 32px;
  height: 62px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.gray {
  background-color: gray;
}

.keyboard {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 30px;
}
