.wordItem {
  display: flex;
  flex-direction: row;
}
.wordList {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.root {
  height: 100vh;
  display: flex;
  background-color: black;
  justify-content: center;
}
.letter {
  border: 2px solid #3a3a3c;
  font-size: 32px;
  height: 62px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5px;
  color: white;
  font-weight: bold;
}

.green {
  background-color: #538d4e;
}

.yellow {
  background-color: #b59f3b;
}

.gray {
  background-color: #3a3a3c;
}

.keyboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
}

.button {
  font-family: inherit;
  font-weight: bold;
  border-radius: 4px;
  outline: none;
  border: 0;
  margin: 0px 6px 0px 0px;
  height: 58px;
  width: 43px;
  background-color: #818384;
  color: #ffffff;
  font-size: 14px;
}

.wordGrid {
  margin-bottom: 30px;
}

.header {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 1px solid #3a3a3c;
}

.specialButton {
  font-family: inherit;
  font-weight: bold;
  border-radius: 4px;
  outline: none;
  border: 0;
  margin: 0px 6px 0px 0px;
  height: 58px;

  background-color: #818384;
  color: #ffffff;
  font-size: 14px;
}
.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  color: white;
}
